.weather-app {
  padding: 40px;
  border-color: cadetblue;
  background-color: cadetblue;
  border-radius: 20px;
  margin-top: 40px;
  max-width: 500px;
}

h1 {
  display: inline;
}

.city {
  font-size: 30px;
}

.search-form {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
  margin-left: -32px;
  font-size: 15px;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 600px;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: -10px;
}

.weather-temperature.active {
  color: black;
  cursor: default;
}

:link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 5px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 14px;
}

.min-temperature {
  opacity: 0.5;
}

.min-max-temperature {
  font-size: 12px;
}

.opensource {
  font-size: 13px;
  margin-left: 4px;
}
