.weather-app {
  padding: 40px;
  border-color: cadetblue;
  background-color: cadetblue;
  border-radius: 20px;
  margin-top: 40px;
  max-width: 600px;
}

h1 {
  display: inline;
}

.search-form {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 20px auto;
  max-width: 600px;
  margin-top: -20px;
  margin-bottom: -15px;
}
