.weather-app {
  padding: 40px;
  border-color: cadetblue;
  background-color: cadetblue;
  border-radius: 20px;
}

.search-form {
  margin-bottom: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 600px;
}
